@charset "UTF-8";
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
@media (min-width: 768px) {
  body {
    display: flex;
    width: 100%;
  }
}

/*///////TYPO DE BASE///////*/
@font-face {
  font-family: "robotothin";
  src: url("../typo/roboto_thin/Roboto-Thin-webfont.eot");
  src: url("../typo/roboto_thin/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/roboto_thin/Roboto-Thin-webfont.woff2") format("woff2"), url("../typo/roboto_thin/Roboto-Thin-webfont.woff") format("woff"), url("../typo/roboto_thin/Roboto-Thin-webfont.ttf") format("truetype"), url("../typo/roboto_thin/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../typo/roboto_bold/Roboto-Bold-webfont.eot");
  src: url("../typo/roboto_bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/roboto_bold/Roboto-Bold-webfont.woff2") format("woff2"), url("../typo/roboto_bold/Roboto-Bold-webfont.woff") format("woff"), url("../typo/roboto_bold/Roboto-Bold-webfont.ttf") format("truetype"), url("../typo/roboto_bold/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../typo/roboto_regular/Roboto-Regular-webfont.eot");
  src: url("../typo/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/roboto_regular/Roboto-Regular-webfont.woff2") format("woff2"), url("../typo/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("../typo/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../typo/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../typo/Shrikhand/Shrikhand-Regular.eot");
  src: url("../typo/Shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("../typo/Shrikhand/Shrikhand-Regular.otf") format("otf"), url("../typo/Shrikhand/Shrikhand-Regular.woff") format("woff"), url("../typo/Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../typo/Shrikhand/Shrikhand-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot #iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*///////TITRES///////*/
h1 {
  font-family: Shrikhand-Regular;
  font-size: 1.8em;
  font-weight: lighter;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  font-family: robotobold;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
  text-align: left;
  font-weight: normal;
}

@media (min-width: 768px) {
  .section_fonctionnement h2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container_resto_prev h2 {
    margin-left: auto;
    margin-right: auto;
  }
}

h3 {
  font-family: robotoregular;
  line-height: 0px;
  font-weight: normal;
}

h4 {
  font-family: robotothin;
  font-weight: normal;
  font-size: 1em;
  margin-left: 15px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  h4 {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  h4 {
    margin-left: 300px;
    margin-right: 300px;
  }
}

h5 {
  font-family: Shrikhand-Regular;
  color: #FFFFFF;
  font-size: 1.2em;
  margin-left: 15px;
  font-weight: lighter;
}

/*///////PARAGRAPHES///////*/
p {
  font-family: robotothin;
  margin: 0em;
}

.section_discover p {
  text-align: center;
  font-size: 1em;
  line-height: normal;
  word-wrap: break-word;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.container_resto_prev__list h3, p {
  font-size: 1.2em;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.container_resto_prev__list p {
  padding-bottom: 20px;
}

.section_localisation p {
  font-family: robotoregular;
  font-size: 1em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  border-radius: 10rem;
  padding: 1rem 2rem;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0;
  box-shadow: -1px 4px 5px 3px #c9c8c8;
  color: #FFFFFF;
  font-family: robotoregular;
  font-size: 1em;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: -1px 4px 5px 3px #9c9c9c;
}

/*/////// ICONES HOME PAGE///////*/
header i {
  position: absolute;
  left: 0;
  top: 0;
  color: #313131;
  margin-top: 30px;
  margin-left: 25px;
}

.circle {
  position: absolute;
  left: -10px;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.8em;
  font-family: robotoregular;
}

.section_localisation i {
  padding-right: 15px;
}

.section_fonctionnement i {
  padding-right: 15px;
  padding-left: 25px;
  color: gray;
}

.coeur {
  position: absolute;
  right: 10px;
  bottom: 30px;
  color: gray;
  cursor: pointer;
  opacity: 1;
}

/*ANIMATION COEUR QUI SE COLORE AU SURVOL*/
.coeur_plein {
  position: absolute;
  right: 6px;
  bottom: 25px;
  cursor: pointer;
  opacity: 0;
}
.coeur_plein:hover {
  opacity: 1;
  animation: filling 0.25s;
  animation-fill-mode: forwards;
}

@keyframes filling {
  0% {
    color: #FFFFFF;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 10%, #FFFFFF 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 20%, #FFFFFF 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 30%, #FFFFFF 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 40%, #FFFFFF 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 50%, #FFFFFF 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 60%, #FFFFFF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 70%, #FFFFFF 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 80%, #FFFFFF 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 90%, #FFFFFF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*///////ICONES PAGES MENU///////*/
.anim_check {
  color: #FFFFFF;
  opacity: 0;
  background-color: #99E2D0;
  height: 100%;
  width: 65px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 20px 20px 0;
}

.fa-check-circle {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.coeur-titre {
  color: gray;
  position: absolute;
  right: 40px;
  top: 35px;
}

.container_resto_prev {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .container_resto_prev_responsive {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
}

.container_resto_prev__list {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  width: auto;
  box-shadow: 0px 0px 7px 1px gainsboro;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}
@media (min-width: 768px) {
  .container_resto_prev__list {
    max-width: 45%;
  }
}

@media (min-width: 768px) {
  .page-menu-responsive {
    max-width: 60%;
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (min-width: 992px) {
  .page-menu-responsive {
    max-width: 70%;
    margin-left: 200px;
    margin-right: 200px;
  }
}

footer {
  background-color: #353535;
  padding-bottom: 30px;
}

footer ul, footer li {
  list-style: none;
  color: #FFFFFF;
  padding: 0px;
  text-decoration: none;
  font-size: 1em;
  font-family: robotoregular;
  text-align: left;
  margin-left: 10px;
}

footer i {
  padding-right: 5px;
}

footer a {
  color: #FFFFFF;
}

header {
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: -10px;
  text-align: center;
}

.section_localisation {
  background-color: #ebebeb;
  width: 100%;
  box-shadow: 0px 10px 5px -9px #cccbcb inset;
}

.section_discover {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: auto;
  align-items: center;
}

.section_fonctionnement {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .section_fonctionnement {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.section_fonctionnement ul {
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

.section_fonctionnement li {
  position: relative;
  list-style: none;
  border-radius: 16px;
  background-color: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 20px;
  box-shadow: 1px 2px 10px #bdbbbb;
  margin-bottom: 20px;
  font-family: robotoregular;
  font-size: 1em;
  margin-left: 15px;
  margin-right: 15px;
}

#darkpurple {
  color: #9356DC;
}

#section_fonctionnement--purplebackground {
  background-color: #f5edfd;
}

.container_resto_prev__list img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.carre_new {
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: robotoregular;
  font-size: 1em;
  color: #008452;
  background-color: #99E2D0;
  padding: 5px 25px 5px 25px;
  border-radius: 3px;
  margin-top: 15px;
  margin-right: 15px;
}

/*ANIMATION LOADER*/
.home-loader {
  background-color: #99E2D0;
  align-items: center;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: fadeIn ease-out 3s;
  -webkit-animation: fadeIn ease-out 3s;
  -moz-animation: fadeIn ease-out 3s;
  -o-animation: fadeIn ease-out 3s;
  -ms-animation: fadeIn ease-out 3s;
  animation-fill-mode: forwards;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
  margin: auto;
  margin-top: 250px;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
.loader-1:before, .loader-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #99E2D0;
}

.loader-1:before {
  z-index: 100;
  animation: spin 0.7s infinite;
}

.loader-1:after {
  border: 10px solid #FFF;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader_p {
  font-family: shrikhand;
  color: #FFF;
  font-size: 1.4em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.menu-img {
  width: 100%;
}

.contain {
  display: flex;
  flex-direction: column;
  border-radius: 50px 50px 0px 0px;
  background-color: #f3f3f3;
  position: relative;
  top: -40px;
  width: 100%;
  margin-bottom: -40px;
}

.contain--topposition {
  top: -10px;
}

.contain__title {
  margin-right: 20px;
  margin-left: -15px;
  list-style: none;
  margin-bottom: -10px;
}

.trait {
  margin-top: 0px;
  border-bottom: 3px solid #99E2D0;
  font-style: normal;
  padding-bottom: 4px;
}

/*ANIMATIONS SUR LES PAGES MENU*/
/*ANIMATION CHECK = ICONE DE VALIDATION QUI APPARAIT AU SURVOL DU PLAT*/
.container_resto_prev__list--background {
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.container_resto_prev__list--background i {
  opacity: 0;
}
.container_resto_prev__list--background .price {
  font-family: robotobold;
  font-size: 0.9em;
  position: absolute;
  right: 0px;
  bottom: 12px;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
}
.container_resto_prev__list--background h6 {
  font-family: robotoregular;
  font-weight: normal;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  transition: all 0.5s ease-in-out;
}
.container_resto_prev__list--background .description p {
  font-family: robotothin;
  font-size: 1.1em;
  width: 80%;
  margin-right: 5px;
  margin-bottom: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  transition: all 0.5s ease-in-out;
}
.container_resto_prev__list--background li.anim_check {
  opacity: 1;
  width: 0px;
  transition: all 0.5s ease-in-out;
}
.container_resto_prev__list--background:hover .price {
  transform: translateX(-70px);
}
.container_resto_prev__list--background:hover li.anim_check {
  opacity: 1;
  width: 65px;
}
.container_resto_prev__list--background:hover i {
  opacity: 1;
  transform: rotate(-360deg);
  transition: transform 0.5s ease-in-out;
  animation-delay: 0.6s;
}
.container_resto_prev__list--background:hover h6 {
  width: 60%;
  animation-fill-mode: forwards;
}
.container_resto_prev__list--background:hover .description p {
  width: 60%;
  animation-fill-mode: forwards;
}

/*ANIMATION FADEIN = LIGNES QUI APPARAISSENT À L'OUVERTURE DE LA PAGE MENU*/
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.appear1 {
  animation: fadein 1s ease-in-out;
  animation-delay: 200ms;
}

.appear2 {
  animation: fadein 1.1s ease-in-out;
  animation-delay: 300ms;
}

.appear3 {
  animation: fadein 1.2s ease-in-out;
  animation-delay: 400ms;
}

.appear4 {
  animation: fadein 1.3s ease-in-out;
  animation-delay: 500ms;
}

/*# sourceMappingURL=style.css.map */
