/*///////HOME PAGE///////*/
header i 
{position:absolute;
left:0;
top:0;
color:rgb(49, 49, 49);
margin-top:30px;
margin-left:25px;}

.circle
{@include circle-number;}

.section_localisation i 
    {padding-right: 15px;}

.section_fonctionnement i
     {padding-right: 15px;
        padding-left: 25px;
        color:rgba(128,128,128 ,1);}

.coeur
{position: absolute;
right:10px;
bottom:30px;
color:rgba(128,128,128 ,1);
cursor: pointer;
opacity:1;}

.coeur_plein
{position: absolute;
 right:6px;
bottom:25px;
cursor: pointer;
opacity:0;
    &:hover {
        opacity:1;
        animation: filling 0.25s;
        animation-fill-mode: forwards;
            }
}

        @keyframes filling {
            0% {
            color: $white;
            }
            10% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 10%, $white 0%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            20% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 20%, $white 10%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            30% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 30%, $white 20%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            40% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 40%, $white 30%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            50% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 50%, $white 40%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            60% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 60%, $white 50%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            70% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 70%, $white 60%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            80% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 80%, $white 70%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            90% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 90%, $white 80%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            100% {
            background: linear-gradient(0deg, $secondaire 0%, $primaire 100%);
            -webkit-text-stroke-width: 0px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }

/*///////PAGES MENU///////*/
.anim_check
{color:$white;
opacity:0;
background-color: $tertiaire;
height:100%;
width:65px;
position:absolute;
right:0;
bottom:0;
border-radius: 0 20px 20px 0;}

.fa-check-circle
{position:absolute;
bottom:25px;
right:25px;}

.coeur-titre
{
color:rgba(128,128,128 ,1);
position:absolute;
right:40px;
top:35px;
}
            
            